{% if section.blocks.size > 0 %}
  {% if section.settings['section-id'] != blank %}<div id="{{ section.settings.section-id }}">{% endif %}
  <div
    class="column-carousel-brighta brand-slider section-block-{{section.id}}  border-{{ section.settings.display_brand_border }} {{ section.settings.brands_block_style }}"
    id="brands-{{section.id}}"
    {% if section.settings.brand_layout == 'slider' %}
      data-loader-script="{{ 'halo.slide-brand.js' | asset_url }}"
    {% endif %}
  >
    <div class="brands-block {% if section.settings.brand_layout == 'grid' %}brands-grid{% endif %}{% if section.settings.brands_block_style == 'style_2' %} brand_style_2{% elsif section.settings.brands_block_style == 'style_3' %} brand_style_3{% endif %}">
      <div class="{% if section.settings.container == 'fullwidth' %}container-full{% elsif section.settings.container == '1170' %}container-1170{% elsif section.settings.container == '1770' %}container-1770{% else %}container{% endif %}">
        {% if section.settings.brands_block_style == 'style_3' %}
          <div class="wrapper-content">
        {% endif %}

        {% if section.settings.brand_title != blank %}
          <div class="halo-block-header{% if section.settings.brand_des != blank %} has-des{% endif %}{% if section.settings.view_all != blank %} viewAll--{{ section.settings.view_all_align }}{% endif %}">
            <h3 class="title text-{{ section.settings.title_alignment }}">
              <span style="{{ section.settings.color_title }}">
                {{ section.settings.brand_title }}
              </span>
            </h3>
            {% if section.settings.brand_des != blank %}
              <div class="rte subtext-brand text-{{ section.settings.title_alignment }}">
                {{ section.settings.brand_des }}
              </div>
            {% endif %}
            {% if section.settings.view_all != blank %}
              <a
                class="view_all{% if section.settings.enable_border_view_all %} has-border{% endif %}"
                {% if section.settings.link_view_all == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ section.settings.link_view_all }}"
                {% endif %}
                title="{{section.settings.view_all}}"
                style="
                  --font-weight-view-all-style: {{ section.settings.font_weight_view_all }};
                  --mg-bottom-view-style: {{ section.settings.mg_bottom_view | append: 'px' }};
                  --color-view-all-style: {{ section.settings.color_view_all }};
                  --color-view-all-icon-style: {{ section.settings.color_view_all_icon }};
                  --font-size-view-all-style: {{ section.settings.view_all_fs | append: 'px' }};
                "
              >
                {%- if section.settings.icon_view_all -%}
                  <span
                    class="icon-svg"
                    {% if section.settings.view_all_icon_side == 'right' %}
                      style="display: none;"
                    {% endif %}
                  >
                    {{ section.settings.icon_view_all }}
                  </span>
                {%- endif -%}
                {{ section.settings.view_all }}
                {%- if section.settings.icon_view_all -%}
                  <span
                    class="icon-svg"
                    {% if section.settings.view_all_icon_side == 'left' %}
                      style="display: none;"
                    {% endif %}
                  >
                    {{ section.settings.icon_view_all }}
                  </span>
                {%- endif -%}
              </a>
            {% endif %}
          </div>
        {% endif %}
        <div
          class="halo-row column-{{ section.settings.brand_rows }} text-{{ section.settings.title_align }} brands-slider halo-slider{% if section.settings.brand_rows_mb == '2' %} sm-column-2{% else %} sm-column-1{% endif %} md-column-3"
          {% if section.settings.brand_layout == 'slider' %}
            data-brands-slider
          {% endif %}
          data-rows="{{ section.settings.brand_rows }}"
          data-arrows="{{ section.settings.enable_arrows }}"
          data-dots="{{ section.settings.enable_dots }}"
          data-rows-mobile="{{ section.settings.brand_rows_mb }}"
          style="{% unless section.settings.brand_layout == 'grid' %} --row-distance-style: {{ section.settings.item_distance | prepend: '-' | append: 'px' }}; {% endunless %}"
        >
          {% for block in section.blocks %}
            <div
              class="halo-item item--{{ block.settings.box_shadow }} block-{{ block.id }} text-{{ block.settings.text_position }} fade-in"
              id="block-{{ block.id }}"
              style="background-color: {{ block.settings.col_bg }};"
            >
              <a
                class="wtf"
                title="{% if block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ preview_img.alt | escape }}{% endif %}"
                {% if block.settings.link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.link }}"
                {% endif %}
              >
              </a>
              {% if block.settings.image != blank %}
                {%- assign preview_img = block.settings.image -%}
                <div
                  class="wrapper-image {% if block.settings.enable_border %}has-border{% endif %}"
                  style="max-width: {{ block.settings.image.width }}px; margin: 0 auto;"
                >
                  <a
                    class="adaptive_height {% if section.settings.enable_hover_zoom_image %}image-zoom{% endif %}"
                    title="{% if block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ preview_img.alt | escape }}{% endif %}"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                    style="padding-top: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%;"
                  >
                    <img {% render 'lazyload', preview_img: preview_img %}>
                    {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                  </a>
                </div>
              {% else %}
                <p
                  style="color:{{ block.settings.color_title }}"
                  title="{% if block.settings.title != blank %}{{ block.settings.title }}{% else %}Coming Soon{% endif %}"
                  {% if block.settings.link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.link }}"
                  {% endif %}
                >
                  {% if block.settings.title != blank %}
                    <!-- You can add content here if needed -->
                  {% endif %}
                </p>
              {% endif %}
              <div class="content-container">
                {% if block.settings.title != blank %}
                  {% if block.settings['line-style-on'] %}
                    <h3
                      style="color:{{ block.settings.color_text_col }}; margin-bottom:{{ block.settings.margin_bottom_title }}px"
                      class="block-text text title line-style"
                      {% if block.settings.link == blank %}
                        aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.link }}"
                      {% endif %}
                    >
                      {{ block.settings.title }}
                    </h3>
                  {% else %}
                    <p
                      style="color:{{block.settings.color_des }}"
                      class="block-text text"
                      {% if block.settings.link == blank %}
                        aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.link }}"
                      {% endif %}
                    >
                      {{ block.settings.title }}
                    </p>
                  {% endif %}
                {% endif %}

                {% if block.settings.description != blank %}
                  <p
                    style="color:{{ block.settings.color_des }}"
                    class="description"
                    {% if block.settings.link == blank %}
                      aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                  >
                    {{ block.settings.description }}
                  </p>
                {% endif %}

                {% if block.settings['link-button-on'] != blank %}
                  <div class="button-on">
                    <a
                      class="column-button-on"
                      href="{{ block.settings.link }}"
                      {% if block.settings['link-button-padding'] != blank %}
                        style="padding:{{block.settings.link-button-padding}};"
                      {% endif %}
                    >
                      {{- block.settings['link-button-text'] -}}
                    </a>
                    {% if block.settings['link-button-icon'] != blank -%}
                      <img src="https://cdn.shopify.com/s/files/1/0780/6091/2925/files/button-icon.svg?v=1714649143">
                    {%- endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>

        {% if section.settings.btn_text != blank %}
          <div class="brand-slider-btn enable-{{ section.settings.second_butt }}">
            <a
              class="brand-btn cust-butt"
              {% if section.settings.btn_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.btn_link }}"
              {% endif %}
            >
              {{ section.settings.btn_text }}
            </a>
            {% if section.settings.second_butt %}
              <a
                class="sec-btn cust-butt"
                {% if section.settings.sec_btn_link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ section.settings.sec_btn_link }}"
                {% endif %}
              >
                {{ section.settings.sec_btn_text }}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if section.settings['section-id'] != blank %}</div>{% endif %}
  <style>
        {%- liquid
            assign brand_bg = section.settings.brand_bg
            assign brand_bg_gradient = section.settings.brand_bg_gradient
            assign brand_bg_image = section.settings.brand_bg_image

            assign color_arrow = section.settings.color_arrow
            assign arrow_background = section.settings.arrow_background
            assign arrow_background_gradient = section.settings.arrow_background_gradient
            assign arrow_border = section.settings.arrow_border
            assign color_arrow_hover = section.settings.color_arrow_hover
            assign arrow_background_hover = section.settings.arrow_background_hover
            assign arrow_background_gradient_hover = section.settings.arrow_background_gradient_hover
            assign arrow_border_hover = section.settings.arrow_border_hover

            assign color_title = section.settings.color_title
            assign fontsize_title = section.settings.fontsize_title
            assign fontsize_title_mb = section.settings.fontsize_title_mb
            assign mg_bottom_title = section.settings.mg_bottom_title

            assign color_des = section.settings.color_des
            assign fontsize_des = section.settings.fontsize_des
            assign mg_bottom_des = section.settings.mg_bottom_des

            assign mg_top_desktop = section.settings.mg_top_desktop
            assign mg_top_tablet = section.settings.mg_top_tablet
            assign mg_top_mobile = section.settings.mg_top_mobile

            assign mg_bottom_desktop = section.settings.mg_bottom_desktop
            assign mg_bottom_tablet = section.settings.mg_bottom_tablet
            assign mg_bottom_mobile = section.settings.mg_bottom_mobile

            assign padding_full_width = section.settings.padding_full_width
            assign headingLineHeight = settings.type_heading_line_height
        -%}

       .halo-item.text-left h3.title{
         margin:0;
       }
     .halo-item.text-left .title, .halo-item.text-left p {
        text-align: left !important;
    }
    .halo-item.text-center .title, .halo-item.text-center p {
        text-align: center !important;
    }
      .halo-item.text-right .title, .halo-item.text-right p {
        text-align: right !important;
    }
    .button-on{
      display:flex;
    }


    /* Adjust the width for different column layouts */


     .section-block-{{ section.id }}.column-carousel-brighta .halo-row.column-2 .halo-item {
        width: calc(50% - {{ section.settings.item_distance }}px / 2);
    }

     .section-block-{{ section.id }}.column-carousel-brighta .halo-row.column-3 .halo-item {
        width: calc((100% / 3) - {{ section.settings.item_distance }}px * 2 / 3);
    }

     .section-block-{{ section.id }}.column-carousel-brighta .halo-row.column-4 .halo-item {
        width: calc((25% - {{ section.settings.item_distance }}px * 3 / 4));
    }

     .section-block-{{ section.id }}.column-carousel-brighta .halo-row.column-5 .halo-item {
        width: calc((20% - {{ section.settings.item_distance }}px * 4 / 5));
    }
     .section-block-{{ section.id }}.column-carousel-brighta .halo-row.column-6 .halo-item {
        width: calc((100% / 6) - {{ section.settings.item_distance }}px * 5 / 6);
    }
     .section-block-{{ section.id }}.column-carousel-brighta .brands-grid .halo-row{
      gap:{{ section.settings.item_distance }}px;
    }
       .column-carousel-brighta .halo-row .halo-item {
        padding: 20px 25px !important;
         border-radius: {{section.settings.col-radius}}px;
    }
     .column-carousel-brighta .brands-grid .halo-row .halo-item .wrapper-image .wrapper-image{
            min-height: 120px;
      }
      .column-carousel-brighta .brands-grid .halo-row.text-left .halo-item .text, .column-carousel-brighta .brands-grid .halo-row.text-left .halo-item .description {
        text-align: left;
    }
      .column-carousel-brighta .brands-grid .halo-row.text-center .halo-item .text, .column-carousel-brighta .brands-grid .halo-row.text-center .halo-item .description {
        text-align: center;
    }
      .column-carousel-brighta .brands-grid .halo-row.text-right .halo-item .text, .column-carousel-brighta .brands-grid .halo-row.text-right .halo-item .description {
        text-align: right;
    }
      .column-carousel-brighta .brands-grid .halo-row.text-left .halo-item .wrapper-image {
        margin-left: 0 !important;
    }
      .column-carousel-brighta .brands-grid .halo-row.text-center .halo-item .wrapper-image {
        margin: 0 auto !important;
    }
      .column-carousel-brighta .brands-grid .halo-row.text-right .halo-item .wrapper-image {
        margin-right: 0 !important;
    }
    .column-carousel-brighta .halo-block-header h3.title {
        display: block;
    }
      .column-carousel-brighta .brands-grid .halo-row.text-left .halo-item .text:hover {
        color: inherit !important;
        text-decoration: none;
        cursor: default;
    }

    .brand-btn, .sec-btn, .column-button-on {
        transition: background-color 0.3s, color 0.3s;
    }

      .button-on .column-button-on{
        background-color: {{ section.settings.col_btn_color }};
        color:{{ section.settings.col_main_btn_color }};
      }

      .brand-btn, .column-button-on:hover{
         background-color: {{ section.settings.col_main_btn_color_hover }};
        color:{{ section.settings.col_main_btn_color }};
      }

    .brand-btn:hover, .column-button-on:hover {
        background-color: {{ section.settings.main_btn_color_hover }};
        color: {{ section.settings.btn_color }};
    }
    .sec-btn{
      background-color: {{ section.settings.sec_main_btn_color }};
        color: {{ section.settings.sec_btn_color }};
    }
    .sec-btn:hover {
        background-color: {{ section.settings.sec_main_btn_color_hover }};
        color: {{ section.settings.sec_btn_color }};
    }
    .brand-slider-btn .cust-butt, .column-button-on {
        padding: 15px 20px;
        border-radius: 7px;
        margin: 0 7px;
    }
      .section-block-{{ section.id }}.column-carousel-brighta .brands-grid .halo-row.text-center .halo-item h3.text.title.line-style {
        font-size: 30px !important;
        font-weight: 600;
    }
     .section-block-{{ section.id }}.column-carousel-brighta .halo-item h3.text.title {
            font-size: {{ section.settings.fontsize_text }}px !important;
            font-weight: {{ section.settings.font_weight_title }};
        }
     .section-block-{{ section.id }}.column-carousel-brighta .halo-item p.text {
            font-size: {{ section.settings.fontsize_text }}px !important;
            font-weight: {{ section.settings.font_weight_title }};
        }
    .section-block-{{ section.id }}.column-carousel-brighta .halo-item .description {
            font-size: {{ section.settings.fontsize_des }}px !important;
        }
    {%- if section.settings.enable_icons -%}
        .column-carousel-brighta.style_1 .halo-item .wrapper-image {
                margin-top: -50px !important;
        }
      .column-carousel-brighta .brands-grid .halo-row.text-left .halo-item .wrapper-image img {
        box-shadow: 0 0 25px rgba(0,0,0,0.2);
    }
    {%- endif -%}


    @media (min-width: 768px) and (max-width: 980px) {
      .column-carousel-brighta   .halo-row.column-2 .halo-item {
            width: calc(50% - {{ section.settings.item_distance }}px / 2);
        }

      .column-carousel-brighta   .halo-row.column-3 .halo-item {
            width: calc((50% - {{ section.settings.item_distance }}px / 2) - {{ section.settings.item_distance }});
        }

      .column-carousel-brighta   .halo-row.column-4 .halo-item {
            width: calc(50% - {{ section.settings.item_distance }}px);
        }

      .column-carousel-brighta   .halo-row.column-5 .halo-item {
            width: calc((50% - {{ section.settings.item_distance }}px) / 1.25);
        }

     .column-carousel-brighta    .halo-row.column-6 .halo-item {
            width: calc(50% - {{ section.settings.item_distance }}px);
        }
    }
    @media (max-width: 767px) {
      .column-carousel-brighta   .halo-row .halo-item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 0;
        }

        .column-carousel-brighta .brands-grid .halo-row{
      gap:0px;
    }
    }

     @media screen and (max-width: 480px) {
            .section-block-{{ section.id }}.column-carousel-brighta.brand-slider .halo-item .text {
                font-size: {{ section.settings.fontsize_text_mb }}px !important;
            }
    }

        {% if brand_bg_image != blank %}
            .section-block-{{ section.id }}{
                background: url({{ brand_bg_image | img_url: '1920x' }});
                background-repeat: repeat-x;
                background-size: cover;
            }
            .section-block-{{ section.id }} .halo-block-header .title .text {
                background-color: transparent;
            }
        {% else %}
            .section-block-{{ section.id }} {
                background: {% if brand_bg_gradient != blank %}{{ brand_bg_gradient }}{% else %}{{ brand_bg }}{% endif %};
                {% if section.settings.display_brand_border %}
                    border-top: 1px solid #ebebeb;
                {% endif %}
            }
        {% endif%}

        {% if section.settings.enable_border_title %}
            .section-block-{{section.id}} .halo-block-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .section-block-{{section.id}} .view_all.has-border {
                margin-top: 0;
            }
        {% endif %}

        .section-block-{{section.id}} .halo-block-header .title .text {
            background-color: {{ brand_bg }};
        }



        {% if section.settings.enable_border_title %}
            .section-block-{{section.id}} .halo-block-header {
                border-bottom: 1px solid {{ section.settings.border_color_title }};
            }

            .section-block-{{section.id}} .halo-block-header .title {
                margin-bottom: 16px !important;
            }
        {% endif %}

        .section-block-{{section.id}} .halo-block-header .title {
            color: {{ color_title }};
            font-size: {{ fontsize_title | append: 'px'  }};
            margin-bottom: {{ mg_bottom_title | append: 'px' }};
            {%- if fontsize_title > headingLineHeight -%}
                line-height: {{ fontsize_title | append: 'px' }};
            {%- endif -%}
        }

        {% if section.settings.view_all != blank %}
            .section-block-{{section.id}} .halo-block-header{
                margin-bottom: {{ mg_bottom_title | append: 'px' }};
            }
        {% else %}
            .section-block-{{section.id}} .halo-block-header{
                margin-bottom: 0;
            }
        {% endif %}

        .section-block-{{section.id}} .halo-block-header .title:before {
            /*background-color: {{ color_title }};*/
            display: none;
        }

        .section-block-{{section.id}} .halo-block-header .rte {
            color: {{ color_des }};
            font-size: {{ fontsize_des | append: 'px'  }};
            margin-bottom: {{ mg_bottom_des | append: 'px' }};
        }

        .section-block-{{section.id}} .halo-item .not_img{
            font-size: 16px;
        }

        .section-block-{{section.id}} .halo-item .text b{
            display: inherit;
            position: relative;
            top: 3px;
            margin-top: 26px;
        }

        .section-block-{{section.id}} .halo-item .text br{
            display: none;
        }

        .section-block-{{section.id}} .brand-slider-btn {
            text-align: center;
        }

        .section-block-{{section.id}} .brand-slider-btn .cust-butt {
            display: inline-block;
            font-size: {{ section.settings.fontsize_btn | append: 'px' }};
        }

                  .section-block-{{section.id}} .brand-slider-btn{
                   margin-top: {{ section.settings.btn_spacing_top | append: 'px' }};
                  }

        {% if section.settings.btn_text != blank %}
            .section-block-{{section.id}} .halo-block-header{
                margin: 0 0 15px 0;
            }
        {% endif %}


        {% if section.settings.enable_hover_zoom_image %}
            .section-block-{{section.id}} .halo-item .image-zoom img{
                padding: 5px;
            }
        {% endif %}

        /* View All */
        .section-block-{{section.id}} .view_all {
            font-weight: var(--font-weight-view-all-style);
            margin-bottom: var(--mg-bottom-view-style);
            color: var(--color-view-all-style);
            font-size: var(--font-size-view-all-style);
        }

        .section-block-{{section.id}} .view_all:not(.has-border) {
            border-bottom: none;
        }

        .section-block-{{section.id}} .view_all.has-border {
            border-bottom: 1px solid;
        }

        .section-block-{{section.id}} .view_all .icon-svg {
            color: var(--color-view-all-icon-style);
        }

        .section-block-{{section.id}} .view_all .icon-svg svg {
            fill: var(--color-view-all-icon-style);
        }

        .section-block-{{section.id}} .slick-arrow {
            border-color: {{ arrow_border }};
            {% if arrow_background_gradient != blank %}
                background:  {{ arrow_background_gradient }};
            {% else %}
                background:  {{ arrow_background }};
            {% endif %}
        }

        .section-block-{{section.id}} .slick-arrow svg {
            color: {{ color_arrow }};
            fill: {{ color_arrow }};
        }

        .banner-animation-1 .section-block-{{section.id}} .halo-item .wrapper-image a {
            transform: scale(1.15);
            opacity: 0;
            transition: transform var(--duration-long) 100ms cubic-bezier(.13,.55,.25,1), opacity var(--duration-long) 100ms cubic-bezier(.13,.55,.25,1);
        }

        .banner-animation-1 .section-block-{{section.id}} .halo-item.shouldShow .wrapper-image a {
            transform: scale(1);
            opacity: 1;
        }

        {% unless section.settings.enable_border_title %}
            .section-block-{{section.id}} .halo-block-header .title .text {
                width: auto;
                text-transform: none;
            }
        {% endunless %}

        .brand_style_3 .halo-block-header .title {
            font-weight: 400;
        }

        @media (max-width: 1024px) {
            .brands-grid .halo-row.halo-slider.md-column-3:not(.slick-slider) .halo-item:nth-child(n+4){
                display: block;
            }

            .brands-grid .halo-row .halo-item{
                padding-bottom: 15px;
            }

            {% if section.settings.enable_dots %}
                .section-block-{{section.id}} .brands-block .slick-arrow{
                    display: none !important;
                }
            {% endif %}

            {% if brand_bg_image != blank %}
                .section-block-{{section.id}}{
                    background-position: center top;
                }
            {% endif %}

            {% if section.settings.brands_block_style == 'style_2' %}
                .section-block-{{section.id}} .halo-row.halo-slider.sm-column-1:not(.slick-slider) .halo-item{
                    padding-bottom: 7px;
                }
            {% endif %}

            {% if section.settings.enable_border_title %}
                .section-block-{{section.id}} .view_all.has-border {
                    position: relative;
                    top: -5px;
                }
            {% endif %}

            {% if section.settings.brand_title != blank and section.settings.view_all != blank %}
                .section-block-{{section.id}} .halo-block-header .title {
                    line-height: 1.5;
                }

                .section-block-{{section.id}} .halo-block-header .view_all {
                    margin-bottom: 15px !important;
                }
            {% endif %}

            .section-block-{{section.id}} .halo-block-header .title .text {
                padding: 0;
            }

            .section-block-{{section.id}} .halo-row .slick-dots {
                bottom: -50px;
            }
        }

        @media (max-width: 767px) {
            .section-block-{{section.id}} {
                padding-top: {{ mg_top_mobile | append: 'px' }};
                padding-bottom: {{ mg_bottom_mobile | append: 'px' }};
            }

            .section-block-{{section.id}} .halo-block-header .title {
                font-size: {{ fontsize_title_mb | append: 'px' }};
                {%- if fontsize_title_mb > headingLineHeight -%}
                    line-height: {{ fontsize_title_mb | append: 'px' }};
                {%- endif -%}
            }

            .section-block-{{section.id}} .halo-block-header .title .text br {
                display: none;
            }
        }

        @media (max-width: 551px){
            .brands-grid .halo-row.halo-slider.sm-column-1:not(.slick-slider) .halo-item:nth-child(n+2),
            .brands-grid .halo-row.halo-slider.sm-column-2:not(.slick-slider) .halo-item:nth-child(n+3){
                display: block;
            }
            .brands-grid .halo-row.halo-slider.sm-column-2:not(.slick-slider) .halo-item{
                width: 33.333333%;
            }
            {% if section.settings.brands_block_style == 'style_2' %}
                .section-block-{{section.id}} .halo-row.halo-slider.sm-column-1:not(.slick-slider) .halo-item{
                    width: 50%;
                    padding-bottom: 0;
                }
            {% endif %}
        }

        @media (min-width: 1025px){
            .section-block-{{section.id}} .slick-arrow:hover {
                border-color: {{ arrow_border_hover }};
                {% if arrow_background_gradient_hover != blank %}
                    background: {{ arrow_background_gradient_hover }};
                {% else %}
                    background: {{ arrow_background_hover }};
                {% endif %}
            }

            .section-block-{{section.id}} .slick-arrow:hover svg {
                color: {{ color_arrow_hover }};
                fill: {{ color_arrow_hover }};
            }

            .brands-grid .halo-row.halo-slider.column-10:not(.slick-slider) .halo-item:nth-child(n+11),
            .brands-grid .halo-row.halo-slider.column-2:not(.slick-slider) .halo-item:nth-child(n+3),
            .brands-grid .halo-row.halo-slider.column-3:not(.slick-slider) .halo-item:nth-child(n+4),
            .brands-grid .halo-row.halo-slider.column-4:not(.slick-slider) .halo-item:nth-child(n+5),
            .brands-grid .halo-row.halo-slider.column-5:not(.slick-slider) .halo-item:nth-child(n+6),
            .brands-grid .halo-row.halo-slider.column-6:not(.slick-slider) .halo-item:nth-child(n+7),
            .brands-grid .halo-row.halo-slider.column-7:not(.slick-slider) .halo-item:nth-child(n+8),
            .brands-grid .halo-row.halo-slider.column-8:not(.slick-slider) .halo-item:nth-child(n+9),
            .brands-grid .halo-row.halo-slider.column-9:not(.slick-slider) .halo-item:nth-child(n+10){
                display: block;
            }
            {% if section.settings.container == 'fullwidth' %}
                .section-block-{{section.id}} .container-full {
                  padding-left: {{ padding_full_width | append: 'px' }};
                  padding-right: {{ padding_full_width | append: 'px' }};
                }
            {% endif %}

            {% if section.settings.style_position_arrows == 'arrows_1' %}
                .section-block-{{section.id}} .halo-row .slick-prev{
                    top: -40px !important;
                    left: auto !important;
                    right: 80px !important;
                }

                .section-block-{{section.id}} .halo-row .slick-next{
                    top: -40px !important;
                    right: 30px !important;
                }
            {% endif %}

            {% if section.settings.style_position_arrows == 'arrows_2' %}
                .section-block-{{section.id}} .halo-row .slick-prev{
                    left: -{{ section.settings.position_horizontal_arrow | append: 'px'  }} !important;
                }

                .section-block-{{section.id}} .halo-row .slick-next{
                    right: -{{ section.settings.position_horizontal_arrow | append: 'px'  }} !important;
                }
            {% endif %}

            .section-block-{{section.id}} .halo-row {
                margin-left: var(--row-distance-style);
                margin-right: var(--row-distance-style);
            }

            .section-block-{{section.id}} .halo-row .halo-item{
                padding-left: var(--item-distance-style);
                padding-right: var(--item-distance-style);
            }

            .brand_style_3 .wrapper-content{
                display: flex;
                align-items: center;
            }

            .brand_style_3 .wrapper-content .halo-block-header{
                width: 26%;
                margin-bottom: 0;
                padding-top: 20px;
            }

            .brand_style_3 .wrapper-content .brands-slider{
                width: 74%;
            }

            .brand_style_3 .halo-block-header .rte{
                max-width: 80%;
            }

            .brand_style_3 .halo-row .halo-item:hover .text{
                font-weight: var(--font-weight-medium);
            }
        }

        @media (min-width: 1200px) {
            .section-block-{{section.id}} {
                padding-top: {{ mg_top_desktop | append: 'px' }};
                padding-bottom: {{ mg_bottom_desktop | append: 'px' }};
            }
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            .section-block-{{section.id}} {
                padding-top: {{ mg_top_tablet | append: 'px' }};
                padding-bottom: {{ mg_bottom_tablet | append: 'px' }};
            }
        }
  </style>
{% endif %}

{% schema %}
{
    "name": "Columns Grid / Carousel",
    "class": "sections-brand-slider",
    "settings": [
    {
        "type" : "text",
        "id" : "section-id",
        "label" : "Section Id",
        "info" : "No spaces and no captial letters"
    },
      {
        "type": "header",
        "content": "t:sections.layout.content"
    },
    {
        "type": "select",
        "id": "container",
        "label": "t:sections.layout.container.option",
        "default": "container",
        "options": [
            {
                "value": "container",
                "label": "t:sections.layout.container.option1"
            },
            {
                "value": "1170",
                "label": "t:sections.layout.container.option4"
            },
            {
                "value": "1770",
                "label": "t:sections.layout.container.option3"
            },
            {
                "value": "fullwidth",
                "label": "t:sections.layout.container.option2"
            }
        ]
    },
    {
        "type": "range",
        "id": "padding_full_width",
        "label": "t:sections.layout.container.padding_full_width",
        "min": 0,
        "max": 50,
        "step": 5,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 0,
        "info": "t:sections.layout.container.info_full_width"
    },
    {
        "type": "header",
        "content": "t:sections.layout.margin_top"
    },
    {
        "type": "range",
        "id": "mg_top_desktop",
        "label": "t:sections.layout.mg_desktop.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "range",
        "id": "mg_top_tablet",
        "label": "t:sections.layout.mg_tablet.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "range",
        "id": "mg_top_mobile",
        "label": "t:sections.layout.mg_mobile.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "header",
        "content": "t:sections.layout.margin_bottom"
    },
    {
        "type": "range",
        "id": "mg_bottom_desktop",
        "label": "t:sections.layout.mg_desktop.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "range",
        "id": "mg_bottom_tablet",
        "label": "t:sections.layout.mg_tablet.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "range",
        "id": "mg_bottom_mobile",
        "label": "t:sections.layout.mg_mobile.label",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 50
    },
    {
        "type": "select",
        "id": "brands_block_style",
        "label": "t:settings_schema.typography.settings.typography.style_layout",
        "default": "style_1",
        "options": [
        {
            "value": "style_1",
            "label": "Style 1"
        },
        {
            "value": "style_3",
            "label": "Style 2"
        }]
    },
      {
        "type": "checkbox",
        "id": "enable_icons",
        "label": "Enable Elevated Media",
        "info": "Check this if you want the icons / images to stay outside the box",
        "default": true
    },
    {
        "type": "select",
        "id": "brand_layout",
        "label": "t:sections.product_block.settings.product_block_layout.option",
        "options": [
        {
            "value": "grid",
            "label": "t:sections.product_block.settings.product_block_layout.option1"
        },
        {
            "value": "slider",
            "label": "t:sections.product_block.settings.product_block_layout.option2"
        }],
        "default": "grid"
    },

    {
        "type" : "color",
        "id" : "brand_bg",
        "label" : "t:settings_schema.colors.settings.colors_name.background_color",
        "default" : "transparent"
    },
    {
        "type" : "color_background",
        "id" : "brand_bg_gradient",
        "label" : "t:settings_schema.colors.settings.colors_name.background_color_gradient"
    },
    {
        "type" : "image_picker",
        "id" : "brand_bg_image",
        "label" : "t:settings_schema.colors.settings.colors_name.background_image"
    },
      {
        "id": "sec_image_item",
        "type": "image_picker",
        "label": "Add image"
      },
    {
        "type": "text",
        "id": "brand_title",
        "label": "Main Section Title"
    },
       {
        "type": "select",
        "id": "title_alignment",
        "label": "Title Alignment",
        "default": "center",
        "options": [
            {
                "value": "left",
                "label": "t:settings_schema.typography.settings.typography.left"
            },
            {
                "value": "center",
                "label": "t:settings_schema.typography.settings.typography.center"
            },
            {
                "value": "right",
                "label": "t:settings_schema.typography.settings.typography.right"
            }
        ]
    },
    {
        "type" : "color",
        "id" : "color_title",
        "label": "t:sections.layout.color.color_title",
        "default" : "#000000"
    },
    {
        "type": "range",
        "id": "fontsize_title",
        "label": "t:sections.layout.fontsize.fontsize_title.label",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 16
    },
    {
        "type": "range",
        "id": "fontsize_title_mb",
        "label": "t:sections.layout.fontsize.fontsize_title.label_mb",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 16
    },
    {
        "type": "range",
        "id": "mg_bottom_title",
        "label": "t:sections.layout.mg_bottom_title.label",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 12
    },
    {
        "type": "checkbox",
        "id": "enable_border_title",
        "label": "t:sections.spotlight_block.blocks.image.enable_border_title",
        "default": false
    },
    {
        "type" : "color",
        "id" : "border_color_title",
        "label": "t:settings_schema.typography.settings.typography.title_border_color",
        "default" : "#051c42"
    },
    {
        "type" : "textarea",
        "id" : "brand_des",
        "label" : "t:sections.image-banner.blocks.image.settings.content.label__2"
    },
    {
        "type" : "color",
        "id" : "color_des",
        "label": "t:sections.layout.color.color_des",
        "default" : "#1D1D1D"
    },
    {
        "type": "range",
        "id": "fontsize_des",
        "label": "t:sections.layout.fontsize.fontsize_des.label",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 18
    },
    {
        "type": "range",
        "id": "mg_bottom_des",
        "label": "t:sections.featured_blog.settings.settings_item.margin_bottom_des",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.mg_desktop.unit",
        "default": 0
    },
    {
        "type": "text",
        "id": "btn_text",
        "label": "t:settings_schema.typography.settings.typography.button_text"
    },
    {
        "type": "range",
        "id": "fontsize_btn",
        "label": "t:settings_schema.typography.settings.typography.button_font_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 12
    },
    {
        "type": "range",
        "id": "btn_spacing_top",
        "label": "t:settings_schema.typography.settings.typography.button_margin_top",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 15
    },
    {
        "type": "url",
        "id": "btn_link",
        "label": "t:settings_schema.typography.settings.typography.button_link"
    },

      {
        "type": "color",
        "id": "btn_color",
        "label": "t:settings_schema.typography.settings.typography.button_color",
        "default": "#FFF"
    },
       {
        "type": "color",
        "id": "main_btn_color",
        "label": "Main Button Background",
        "default": "#919191"
    },
      {
        "type": "color",
        "id": "main_btn_color_hover",
        "label": "Main Button Background Hover",
        "default": "#000000"
    },
      {
        "type": "checkbox",
        "id": "second_butt",
        "label": "Enable Second Button",
        "default": false
    },
      {
        "type": "text",
        "id": "sec_btn_text",
        "label": "Second button text"
    },
    {
        "type": "url",
        "id": "sec_btn_link",
        "label": "Second button link"
    },
       {
        "type": "color",
        "id": "sec_btn_color",
        "label": "Second button color",
        "default": "#FFF"
    },
       {
        "type": "color",
        "id": "sec_main_btn_color",
        "label": "Second Button Background",
        "default": "#000000"
    },
      {
        "type": "color",
        "id": "sec_main_btn_color_hover",
        "label": "Second Button Background Hover",
        "default": "#919191"
    },
    {
        "type": "range",
        "id": "item_distance",
        "label": "Column Grid",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 15
    },
       {
        "type": "select",
        "id": "title_align",
        "label": "Column Alignment",
        "options": [
        {
            "value": "left",
            "label": "t:sections.product_block.settings.general.options__7"
        },
        {
            "value": "center",
            "label": "t:sections.product_block.settings.general.options__8"
        },
        {
            "value": "right",
            "label": "t:sections.product_block.settings.general.options__9"
        }],
        "default": "center"
    },
      {
        "type": "range",
        "id": "col-radius",
        "label": "Single Column Radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 7
    },
    {
        "type": "select",
        "id": "brand_rows",
        "label": "t:sections.brand.settings.brand_rows.option",
        "options": [
          {
                "value": "2",
                "label": "2"
            },
          {
                "value": "3",
                "label": "3"
            },
            {
                "value": "4",
                "label": "t:sections.brand.settings.brand_rows.option4"
            },
            {
                "value": "5",
                "label": "t:sections.brand.settings.brand_rows.option5"
            },
            {
                "value": "6",
                "label": "t:sections.brand.settings.brand_rows.option6"
            }
        ],
        "default": "3"
    },
       {
        "type": "color",
        "id": "col_btn_color",
        "label": "Universal Column Button Text Color",
        "default": "#FFF"
    },
       {
        "type": "color",
        "id": "col_main_btn_color",
        "label": "Universal Column Button Background",
        "default": "#000000"
    },
      {
        "type": "color",
        "id": "col_main_btn_color_hover",
        "label": "Universal Column Button Background Hover",
        "default": "#919191"
    },
      {
                "type": "range",
                "id": "fontsize_text",
                "label": "Column Title Font Size",
                "min": 10,
                "max": 50,
                "step": 1,
                "unit": "t:sections.layout.fontsize.fontsize_title.unit",
                "default": 24
            },
            {
                "type": "range",
                "id": "fontsize_text_mb",
                "label": "Column Title Font Size Mobie",
                "min": 10,
                "max": 50,
                "step": 1,
                "unit": "t:sections.layout.fontsize.fontsize_title.unit",
                "default": 18
            },

       {
                "type": "select",
                "id": "font_weight_title",
                "label": "t:settings_schema.typography.settings.typography.title_font_weight",
                "default": "600",
                "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
    {
        "type": "checkbox",
        "id": "enable_arrows",
        "label": "t:settings_schema.typography.settings.typography.arrows_enable",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "enable_dots",
        "label": "t:settings_schema.typography.settings.typography.dots_enable",
        "default": false
    },
    {
        "type": "select",
        "id": "style_position_arrows",
        "label": "t:settings_schema.typography.settings.typography.arrows_layout",
        "default": "none",
        "options": [
        {
            "value": "none",
            "label": "t:settings_schema.typography.settings.typography.border_none"
        },
        {
            "value": "arrows_1",
            "label": "t:settings_schema.typography.settings.typography.style_1"
        },
        {
            "value": "arrows_2",
            "label": "t:settings_schema.typography.settings.typography.style_2"
        }]
    },
    {
        "type": "range",
        "id": "position_horizontal_arrow",
        "label": "t:settings_schema.typography.settings.typography.arrows_position_horizontal",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "t:sections.layout.fontsize.fontsize_title.unit",
        "default": 15,
        "info": "t:settings_schema.typography.settings.typography.arrows_info_style_2"
    },
    {
        "type" : "color",
        "id" : "color_arrow",
        "label": "t:settings_schema.colors.settings.colors_name.color"
    },
    {
        "type" : "color",
        "id" : "arrow_background",
        "label" : "t:settings_schema.colors.settings.colors_name.background_color"
    },
    {
        "type": "color_background",
        "id": "arrow_background_gradient",
        "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
    },
    {
        "type" : "color",
        "id" : "arrow_border",
        "label" : "t:settings_schema.colors.settings.colors_name.border_color"
    },
    {
        "type" : "color",
        "id" : "color_arrow_hover",
        "label": "t:settings_schema.colors.settings.colors_name.color_hover"
    },
    {
        "type" : "color",
        "id" : "arrow_background_hover",
        "label" : "t:settings_schema.colors.settings.colors_name.background_hover"
    },
    {
        "type": "color_background",
        "id": "arrow_background_gradient_hover",
        "label": "t:settings_schema.colors.settings.colors_name.background_hover_gradient"
    },
    {
        "type" : "color",
        "id" : "arrow_border_hover",
        "label" : "t:settings_schema.colors.settings.colors_name.border_hover"
    },
    {
        "type": "select",
        "id": "brand_rows_mb",
        "label": "t:sections.brand.settings.brand_rows.option_mb",
        "info": "(Use for layout 'Slider')",
        "options": [
            {
                "value": "1",
                "label": "t:sections.brand.settings.brand_rows.option1"
            },
            {
                "value": "2",
                "label": "t:sections.brand.settings.brand_rows.option2"
            },
            {
                "value": "3",
                "label": "t:sections.brand.settings.brand_rows.option3"
            }
        ],
        "default": "1"
    },
    {
        "type": "checkbox",
        "id": "enable_hover_zoom_image",
        "label": "t:settings_schema.typography.settings.typography.image_enable_hover_zoom",
        "default": false
    }
    ],
    "blocks": [
      {
            "type": "image",
            "name": "Column",
            "settings": [
            {
                "type": "color",
                "id": "col_bg",
                "label": "Column Background",
                "default": "transparent"
            },
              {
                "type": "image_picker",
                "id": "image",
                "label": "t:sections.image-banner.blocks.image.settings.content.label__15",
                "info" : "t:sections.brand.blocks.image.info"
            },

            {
                "type": "range",
                "id": "margin_bottom_image",
                "label": "t:settings_schema.typography.settings.typography.image_margin_bottom",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "image_border_radius",
                "label": "t:settings_schema.typography.settings.typography.image_border_radius",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.typography.unit_2",
                "default": 0
            },
            {
                "type": "checkbox",
                "id": "enable_border",
                "label": "t:settings_schema.typography.settings.typography.border_enable",
                "default": false
            },
            {
                "type": "range",
                "id": "border_radius",
                "label": "t:settings_schema.typography.settings.typography.border_radius",
                "min": 0,
                "max": 30,
                "step": 1,
                "unit": "t:sections.layout.fontsize.fontsize_title.unit",
                "default": 4
            },
            {
                "type": "color",
                "id": "border_color",
                "label": "t:settings_schema.typography.settings.typography.border_color",
                "default": "#e2e5e7"
            },
            {
                "type": "color",
                "id": "border_color_hover",
                "label": "t:settings_schema.typography.settings.typography.border_color_hover",
                "default": "#2d2d2d"
            },
            {
  "type": "select",
  "id": "text_position",
  "label": "Text Content Alignment",
  "options": [
    {
      "value": "left",
      "label": "left"
    },
    {
      "value": "center",
      "label": "center"
    },
    {
      "value": "right",
      "label": "right"
    }
  ],
  "default": "left"
},
            {
                "type": "text",
                "id": "title",
                "label": "t:sections.image-banner.blocks.image.settings.content.label__1"
            },
              {
                "type": "checkbox",
                "id": "line-style-on",
                "label": "Enable Title Line style",
                "default": false
            },
            {
                "type": "color",
                "id": "color_text_col",
                "label": "Column Title Text Colour",
                "default": "#1D1D1D"
            },
            {
                "type": "color",
                "id": "color_text_hover",
                "label": "t:settings_schema.typography.settings.typography.text_color_hover",
                "default": "#3e8cc4"
            },
            {
                "type": "range",
                "id": "margin_bottom_title",
                "label": "t:settings_schema.typography.settings.typography.title_margin_bottom",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
                "default": 0
            },
            {
                "type" : "richtext",
                "id" : "description",
                "label" : "t:sections.image-banner.blocks.image.settings.content.label__2"
            },
            {
                "type": "color",
                "id": "color_des",
                "label": "t:settings_schema.typography.settings.typography.des_color",
                "default": "#1D1D1D"
            },
              {
                "type": "checkbox",
                "id": "link-button-on",
                "label": "Display Button",
                "default": false,
                "info" : "Button styling will take the button 1 styling"
            },
              {
                "type": "text",
                "id": "link-button-text",
                "label": "Button Text"
            },
            {
                "type": "url",
                "id": "link",
                "label": "t:sections.image-banner.blocks.image.settings.content.label__5"
            },
               {
                "type": "checkbox",
                "id": "link-button-icon",
                "label": "Display Button Icon",
                "default": false,
                "info" : "When turned on, both buttons will have the icon"
            },
              {
                "type": "text",
                "id": "link-button-padding",
                "label": "Button spacing",
                "info": "use 0px 0px 0px 0px for top, left, bottom, right"
            },
            {
                "type": "header",
                "content": "t:settings_schema.typography.settings.typography.box_shadow"
            },
            {
                "type": "select",
                "id": "box_shadow",
                "label": "t:settings_schema.typography.settings.typography.box_shadow",
                "default": "none",
                "options": [
                {
                    "value": "none",
                    "label": "t:settings_schema.typography.settings.typography.border_none"
                },
                {
                    "value": "box_shadow",
                    "label": "t:settings_schema.typography.settings.typography.box_shadow"
                },
                {
                    "value": "box_shadow_hover",
                    "label": "t:settings_schema.typography.settings.typography.box_shadow_hover"
                }]
            },
            {
                "type": "range",
                "id": "bx_horizontal_length",
                "label": "t:settings_schema.typography.settings.type_button_font.horizontal_length",
                "max": 30,
                "min": 0,
                "step": 1,
                "unit": "px",
                "default": 0
            },
            {
                "type": "range",
                "id": "bx_vertical_length",
                "label": "t:settings_schema.typography.settings.type_button_font.vertical_length",
                "max": 30,
                "min": 0,
                "step": 1,
                "unit": "px",
                "default": 3
            },
            {
                "type": "range",
                "id": "bx_blur_radius",
                "label": "t:settings_schema.typography.settings.type_button_font.blur_radius",
                "max": 30,
                "min": 0,
                "step": 1,
                "unit": "px",
                "default": 8
            },
            {
                "type": "range",
                "id": "bx_spread",
                "label": "t:settings_schema.typography.settings.type_button_font.spread",
                "max": 30,
                "min": 0,
                "step": 1,
                "unit": "px",
                "default": 0
            },
            {
                "type": "range",
                "id": "bx_opacity",
                "label": "t:settings_schema.typography.settings.type_button_font.opacity",
                "max": 1,
                "min": 0,
                "step": 0.1,
                "default": 0.2
            },
            {
                "type": "select",
                "id": "bx_inset",
                "label": "t:settings_schema.typography.settings.type_button_font.inset",
                "default": "no",
                "options": [
                {
                    "value": "inset",
                    "label": "t:settings_schema.typography.settings.type_button_font.yes"
                },
                {
                    "value": "no",
                    "label": "t:settings_schema.typography.settings.type_button_font.no"
                }]
            }
            ]
        }
    ],
    "presets": [
        {
            "name": "Brighta Column Grid / Carousel"
        }
    ]
}
{% endschema %}
