
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534042761330951404.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-534042761330951404.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534042761330951404.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534042761330951404.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534042761330951404.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534042761330951404.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534042761330951404.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534042761330951404.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534042761330951404.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534042761330951404.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534042761330951404.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-534042761330951404.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534042761330951404.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-534042761330951404.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-534042761330951404.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534042761330951404.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-534042761330951404.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-534042761330951404.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-534042761330951404.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534042761330951404.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534042761330951404.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534042761330951404.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534042761330951404.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534042761330951404.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534042761330951404.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534042761330951404.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-534042761330951404.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534042761330951404.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534042761330951404.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534042761330951404.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-534042761330951404.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-534042761330951404.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-534042761330951404.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534042761330951404.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534042761330951404.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-534042761330951404.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534042761330951404.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534042761330951404.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534042761330951404.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534042761330951404.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534042761330951404.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534042761330951404.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534042761330951404.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534042761330951404.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534042761330951404.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534042761330951404.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534042761330951404.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-534042761330951404.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534042761330951404.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534042761330951404.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-534042761330951404.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-534042761330951404.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-534042761330951404.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534042761330951404.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534042761330951404.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-534042761330951404.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534042761330951404.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-534042761330951404.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534042761330951404.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534042761330951404.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534042761330951404.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-534042761330951404.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-534042761330951404.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-534042761330951404.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-534042761330951404.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534042761330951404.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534042761330951404.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-534042761330951404.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-534042761330951404.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534042761330951404.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-534042761330951404 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-534042761330951404 .gp-relative{position:relative}.gps-534042761330951404 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534042761330951404 .gp-mb-0{margin-bottom:0}.gps-534042761330951404 .gp-inline-block{display:inline-block}.gps-534042761330951404 .gp-flex{display:flex}.gps-534042761330951404 .gp-grid{display:grid}.gps-534042761330951404 .gp-contents{display:contents}.gps-534042761330951404 .\!gp-hidden{display:none!important}.gps-534042761330951404 .gp-hidden{display:none}.gps-534042761330951404 .gp-h-auto{height:auto}.gps-534042761330951404 .gp-h-full{height:100%}.gps-534042761330951404 .gp-w-full{width:100%}.gps-534042761330951404 .gp-max-w-full{max-width:100%}.gps-534042761330951404 .gp-flex-none{flex:none}.gps-534042761330951404 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-534042761330951404 .gp-flex-col{flex-direction:column}.gps-534042761330951404 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534042761330951404 .gp-duration-200{transition-duration:.2s}.gps-534042761330951404 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-534042761330951404 .tablet\:\!gp-hidden{display:none!important}.gps-534042761330951404 .tablet\:gp-hidden{display:none}.gps-534042761330951404 .tablet\:gp-h-auto{height:auto}.gps-534042761330951404 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-534042761330951404 .mobile\:\!gp-hidden{display:none!important}.gps-534042761330951404 .mobile\:gp-hidden{display:none}.gps-534042761330951404 .mobile\:gp-h-auto{height:auto}.gps-534042761330951404 .mobile\:gp-flex-none{flex:none}}.gps-534042761330951404 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gedD0xe2Rm"}' data-id="gedD0xe2Rm" id="gedD0xe2Rm" data-same-height-subgrid-container class="gedD0xe2Rm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:auto;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="goelKBnxgp gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FBFBFB","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gHqOS-lsoG"}' data-id="gHqOS-lsoG" id="gHqOS-lsoG" data-same-height-subgrid-container class="gHqOS-lsoG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-2xl);--pl:var(--g-s-3xl);--pb:var(--g-s-2xl);--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:var(--g-s-2xl);--pr-mobile:15px;--mb-tablet:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:var(--g-s-xl);--pb-tablet:var(--g-s-2xl);--pr-tablet:var(--g-s-xl);--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmiVesbYqQ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvNSujqp7a"}' data-id="gvNSujqp7a" id="gvNSujqp7a" data-same-height-subgrid-container class="gvNSujqp7a gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-xl);--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gzow_3EC9f gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsX1Y1Lls7"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-xl);--ta:left;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1772095093043 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsX1Y1Lls7"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/c9fc8cb5-61bc-4fd5-9634-b04423e6f3e7/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTUwLTUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIGZpbGw9InVybCgjZy01MC01MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTUwIiB0bz0iNTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/c9fc8cb5-61bc-4fd5-9634-b04423e6f3e7/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTUwLTUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIGZpbGw9InVybCgjZy01MC01MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTUwIiB0bz0iNTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="https://ucarecdn.com/c9fc8cb5-61bc-4fd5-9634-b04423e6f3e7/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTUwLTUwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIGZpbGw9InVybCgjZy01MC01MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTUwIiB0bz0iNTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/c9fc8cb5-61bc-4fd5-9634-b04423e6f3e7/-/format/auto/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g-NoYYfNL8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5Uqj7Wb5d"
        class="g5Uqj7Wb5d"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:23px;--size-tablet:23px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5Uqj7Wb5d_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gM3YHSpUgV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gh5Ys0fdSW"}' data-id="gh5Ys0fdSW" id="gh5Ys0fdSW" data-same-height-subgrid-container class="gh5Ys0fdSW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggZ2lYFdYR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga7_3bpImk"
        class="ga7_3bpImk"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xs);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga7_3bpImk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvlMZRzJSD"
        class="gvlMZRzJSD"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvlMZRzJSD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g2C77mKg35 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggVPLmxH6O"
        class="ggVPLmxH6O"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xs);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggVPLmxH6O_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRjwX2Fpsm"
        class="gRjwX2Fpsm"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRjwX2Fpsm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gf6CUBBiDS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSMGimi_73"
        class="gSMGimi_73"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xs);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSMGimi_73_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD1QJi70Wl"
        class="gD1QJi70Wl"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD1QJi70Wl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-534042761330951404 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/brighta-development/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534042748060173082&sectionId=534042761330951404)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5Uqj7Wb5d_text","label":"gg5Uqj7Wb5d_text","default":"<p>PASSIONATE ABOUT COFFEE.&nbsp;<br>FANATICAL ABOUT FLAVOR.</p>"},{"type":"html","id":"gga7_3bpImk_text","label":"gga7_3bpImk_text","default":"<p>200+</p>"},{"type":"html","id":"ggvlMZRzJSD_text","label":"ggvlMZRzJSD_text","default":"<p>Premium Products</p>"},{"type":"html","id":"gggVPLmxH6O_text","label":"gggVPLmxH6O_text","default":"<p>3.2K+</p>"},{"type":"html","id":"ggRjwX2Fpsm_text","label":"ggRjwX2Fpsm_text","default":"<p>Satisfied Customers</p>"},{"type":"html","id":"ggSMGimi_73_text","label":"ggSMGimi_73_text","default":"<p>15+</p>"},{"type":"html","id":"ggD1QJi70Wl_text","label":"ggD1QJi70Wl_text","default":"<p>Winning Awards&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}