
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534042761381282789.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-534042761381282789.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534042761381282789.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534042761381282789.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534042761381282789.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534042761381282789.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534042761381282789.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534042761381282789.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534042761381282789.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534042761381282789.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534042761381282789.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-534042761381282789.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534042761381282789.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-534042761381282789.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-534042761381282789.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534042761381282789.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-534042761381282789.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-534042761381282789.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-534042761381282789.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534042761381282789.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534042761381282789.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534042761381282789.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534042761381282789.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534042761381282789.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534042761381282789.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534042761381282789.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-534042761381282789.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534042761381282789.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534042761381282789.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534042761381282789.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-534042761381282789.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-534042761381282789.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-534042761381282789.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-534042761381282789.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534042761381282789.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534042761381282789.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-534042761381282789.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534042761381282789.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534042761381282789.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534042761381282789.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534042761381282789.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534042761381282789.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534042761381282789.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534042761381282789.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534042761381282789.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534042761381282789.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534042761381282789.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534042761381282789.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-534042761381282789.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534042761381282789.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534042761381282789.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-534042761381282789.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-534042761381282789.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534042761381282789.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534042761381282789.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-534042761381282789.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534042761381282789.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-534042761381282789.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534042761381282789.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534042761381282789.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534042761381282789.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-534042761381282789.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-534042761381282789.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-534042761381282789.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534042761381282789.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534042761381282789.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-534042761381282789.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534042761381282789.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-534042761381282789 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-534042761381282789 .gp-relative{position:relative}.gps-534042761381282789 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534042761381282789 .gp-mb-0{margin-bottom:0}.gps-534042761381282789 .gp-inline-block{display:inline-block}.gps-534042761381282789 .gp-flex{display:flex}.gps-534042761381282789 .gp-grid{display:grid}.gps-534042761381282789 .gp-contents{display:contents}.gps-534042761381282789 .\!gp-hidden{display:none!important}.gps-534042761381282789 .gp-hidden{display:none}.gps-534042761381282789 .gp-h-auto{height:auto}.gps-534042761381282789 .gp-h-full{height:100%}.gps-534042761381282789 .gp-w-full{width:100%}.gps-534042761381282789 .gp-max-w-full{max-width:100%}.gps-534042761381282789 .gp-flex-none{flex:none}.gps-534042761381282789 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-534042761381282789 .gp-flex-col{flex-direction:column}.gps-534042761381282789 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534042761381282789 .gp-duration-200{transition-duration:.2s}.gps-534042761381282789 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-534042761381282789 .tablet\:\!gp-hidden{display:none!important}.gps-534042761381282789 .tablet\:gp-hidden{display:none}.gps-534042761381282789 .tablet\:gp-h-auto{height:auto}.gps-534042761381282789 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-534042761381282789 .mobile\:\!gp-hidden{display:none!important}.gps-534042761381282789 .mobile\:gp-hidden{display:none}.gps-534042761381282789 .mobile\:gp-h-auto{height:auto}.gps-534042761381282789 .mobile\:gp-flex-none{flex:none}}.gps-534042761381282789 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzsWZP1RGc"}' data-id="gzsWZP1RGc" id="gzsWZP1RGc" data-same-height-subgrid-container class="gzsWZP1RGc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-5xl);--pl:15px;--pb:var(--g-s-5xl);--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pt-tablet:var(--g-s-5xl);--pl-tablet:15px;--pb-tablet:var(--g-s-5xl);--pr-tablet:15px;--cg:46px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOil4M67Da gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1quZqnOin"}' data-id="g1quZqnOin" id="g1quZqnOin" data-same-height-subgrid-container class="g1quZqnOin gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:46px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giFF7U-gPJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gqd5QD2CAN"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1772095093051 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gqd5QD2CAN"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/88e4e031-de71-455e-a117-28b3a6ec98d2/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODQzIiBoZWlnaHQ9Ijg0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODQzLTg0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODQzIiBoZWlnaHQ9Ijg0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODQzIiBoZWlnaHQ9Ijg0MiIgZmlsbD0idXJsKCNnLTg0My04NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NDMiIHRvPSI4NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/88e4e031-de71-455e-a117-28b3a6ec98d2/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODQzIiBoZWlnaHQ9Ijg0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODQzLTg0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODQzIiBoZWlnaHQ9Ijg0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODQzIiBoZWlnaHQ9Ijg0MiIgZmlsbD0idXJsKCNnLTg0My04NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NDMiIHRvPSI4NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="https://ucarecdn.com/88e4e031-de71-455e-a117-28b3a6ec98d2/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODQzIiBoZWlnaHQ9Ijg0MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODQzLTg0MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODQzIiBoZWlnaHQ9Ijg0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODQzIiBoZWlnaHQ9Ijg0MiIgZmlsbD0idXJsKCNnLTg0My04NDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NDMiIHRvPSI4NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/88e4e031-de71-455e-a117-28b3a6ec98d2/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gv3ueWNz6t"
        class="gv3ueWNz6t"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggv3ueWNz6t_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7_DCbt7ad"
        class="g7_DCbt7ad"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--mb-mobile:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7_DCbt7ad_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gT_j-03Jb7 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzvRBi-VU0"
        class="gzvRBi-VU0"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzvRBi-VU0_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUtEVCHkTD"
        class="gUtEVCHkTD"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUtEVCHkTD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gOgdkS1yFv"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1772095093054 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gOgdkS1yFv"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/26801861-ea18-4339-b273-b93183a0c49c/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYyIiBoZWlnaHQ9IjU2MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTYyLTU2MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTYyIiBoZWlnaHQ9IjU2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTYyIiBoZWlnaHQ9IjU2MSIgZmlsbD0idXJsKCNnLTU2Mi01NjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NjIiIHRvPSI1NjIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/26801861-ea18-4339-b273-b93183a0c49c/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYyIiBoZWlnaHQ9IjU2MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTYyLTU2MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTYyIiBoZWlnaHQ9IjU2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTYyIiBoZWlnaHQ9IjU2MSIgZmlsbD0idXJsKCNnLTU2Mi01NjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NjIiIHRvPSI1NjIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="https://ucarecdn.com/26801861-ea18-4339-b273-b93183a0c49c/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYyIiBoZWlnaHQ9IjU2MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTYyLTU2MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTYyIiBoZWlnaHQ9IjU2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTYyIiBoZWlnaHQ9IjU2MSIgZmlsbD0idXJsKCNnLTU2Mi01NjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NjIiIHRvPSI1NjIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/26801861-ea18-4339-b273-b93183a0c49c/-/format/auto/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPvoZzM3GB"
        class="gPvoZzM3GB"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--c:#242424;--size:33px;--lh:130%;--fs:normal;--weight:600;--ls:0px;--size-tablet:29px;--size-mobile:29px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPvoZzM3GB_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGhTKCRHDL"
        class="gGhTKCRHDL"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGhTKCRHDL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-534042761381282789 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/brighta-development/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534042748060173082&sectionId=534042761381282789)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggv3ueWNz6t_text","label":"ggv3ueWNz6t_text","default":"<p>Inspiring The World</p>"},{"type":"html","id":"gg7_DCbt7ad_text","label":"gg7_DCbt7ad_text","default":"<p>Coffee customers have always worked hard to bring new coffee experiences to our customers. From the opening of the brothers' first coffee boutique in the 2003s, innovation has flowed through every<br>aspect and era of Coffee.&nbsp;<br><br>We were the first coffee providers in London serving our coffee in porcelain cups; we were the first coffee shop chain to introduce the Flat White in the UK and, with our Express machines, we were the first to bring coffee shop quality coffee to convenience stores and roadsides across the UK.</p>"},{"type":"html","id":"ggzvRBi-VU0_text","label":"ggzvRBi-VU0_text","default":"<p>Our Mission &amp; Vision</p>"},{"type":"html","id":"ggUtEVCHkTD_text","label":"ggUtEVCHkTD_text","default":"<p>Coffee's mission is to offer love and hope to those in need through funds from a great cup of coffee. We want to inspire and educate our coffee lovers in ways that enhance their experience with us and encourage them to be an outlet of hope for others.&nbsp;<br><br>We want to create a coffee culture that is built around quality, sociability, and affordability so that everyone can enjoy our product and share in our outreach. Our goal is to continue to grow our business in ways that will allow us to give more, this will include things like scholarships for local graduating seniors, food programs, and much more! We have BIG plans for coffee and appreciate you joining us on this journey!</p>"},{"type":"html","id":"ggPvoZzM3GB_text","label":"ggPvoZzM3GB_text","default":"<p>Our Mission &amp; Vision</p>"},{"type":"html","id":"ggGhTKCRHDL_text","label":"ggGhTKCRHDL_text","default":"<p>Coffee's mission is to offer love and hope to those in need through funds from a great cup of coffee. We want to inspire and educate our coffee lovers in ways that enhance their experience with us and encourage them to be an outlet of hope for others.&nbsp;<br><br>We want to create a coffee culture that is built around quality, sociability, and affordability so that everyone can enjoy our product and share in our outreach. Our goal is to continue to grow our business in ways that will allow us to give more, this will include things like scholarships for local graduating seniors, food programs, and much more! We have BIG plans for coffee and appreciate you joining us on this journey!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}